h1 {
    color: red;
    background-color: coral;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: coral;
}
input {
    width: 200%;
    flex-wrap: wrap;
}
button {
    height: 20px;
    width: 80px;
}
article {
    margin-left: 80px;
    display: flex;
    background-color: yellow;
    flex-wrap: wrap;
    flex-direction: column;
}
